---
---

<div class="h-12">
  <div class="fixed top-0 z-100 w-full h-[inherit]">
    <header class="relative w-full flex items-center bg-light text-dark px-6 h-[inherit] justify-between">
      <p class="font-extrabold text-xl uppercase">De-Cypher</p>
      <nav class="uppercase font-bold absolute h-[inherit] flex items-center justify-center gap-8 inset-0">
        <ul>
          <li><a href="/monoalphabetic" class="link text-black">monoalphabetic</a></li>
        </ul>
      </nav>
    </header>
  </div>
</div>
